<div *ngIf="page" class="row align-items-center justify-content-center" 
  [ngStyle]="{'background-color': page.data.backgroundColor}">
  <div class="col-8">
    <div class="row align-items-end">
      <div class="col text-right pinyin">
        {{page.data.pinyin}}
      </div>
      <div class="col">
        <div class="pinyins">
        <ul>
          <li >{{page.data.pinyinexample.pinyin}}</li>
          <li >{{page.data.pinyinexample.word}}</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center" *ngIf="page.data.pinyingroup1">
        <div class="tones">
        <span *ngFor="let pinyinexample of page.data.pinyingroup1">
                  {{pinyinexample}}
        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center" *ngIf="page.data.pinyingroup2">
        <div class="tones">
        <span *ngFor="let pinyinexample of page.data.pinyingroup2">
          {{pinyinexample}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="words">
      <ul *ngFor="let wordexample of page.data.wordexample">
        <li class="">{{wordexample.pinyin}}</li>
        <li class="">{{wordexample.word}}</li>
      </ul>
    </div>
  </div>
</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
