
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    ChineseReader
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Grade
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/books']" [queryParams]="{ category: 'basics' }">Basics</a>
          <a class="dropdown-item" [routerLink]="['/books']" [queryParams]="{ searchText: '1' }">Elementary</a>
          <a class="dropdown-item" href="#">Pre-intermediate</a>
          <a class="dropdown-item" href="#">Intermediate</a>
          <a class="dropdown-item" href="#">Upper-intermediate</a>
          <a class="dropdown-item" href="#">Advanced</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Literature
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Poem</a>
          <a class="dropdown-item" href="#">Ci-poem</a>
          <a class="dropdown-item" href="#">Idiom</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signin']">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="book.name"
        id="searchText" name="searchText" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<nav class="breadcrumb" style="font-size: 12px; background-color: #FFFFFF;">
  <!--
  <a class="breadcrumb-item" href="#">Home</a>
  <a class="breadcrumb-item" href="#">Grade</a>
  <span class="breadcrumb-item active">Basics</span>
  -->
</nav>

<div>
  <router-outlet></router-outlet>
</div>
